<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="form-label" for="form5Example21">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        We do NOT accept products that have been reported lost or stolen.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="mb-4 ms-4">
      <!--Grid row-->
      <div class="row">
        <div class="col-lg-2 col-md-6">
          <h6 class="text-white mb-3">Customer Support</h6>
          <ul class="list-unstyled text-muted">
              <li>Contact Us</li>
              <li>Help Center</li>
          </ul>
      </div>
      <div class="col-lg-2 col-md-6">
          <h6 class="text-white mb-3">Account</h6>
          <ul class="list-unstyled text-muted">
              <li>Manage Account</li>
              <li>Email Preferences</li>
          </ul>
      </div>
      <div class="col-lg-2 col-md-6">
        <h6 class="text-white mb-3">Shipping & Delivery</h6>
        <ul class="list-unstyled text-muted">
            <li>Shipping</li>
            <li>Delivery Time</li>
        </ul>
    </div>
    <div class="col-lg-2 col-md-6">
      <h6 class="text-white mb-3">Services</h6>
      <ul class="list-unstyled text-muted">
          <li>Electronics Recycling</li>
          <li>Trade in Program</li>
      </ul>
  </div>
  <div class="col-lg-2 col-md-6">
      <span class="text-white-end mb-3"><a href="/about" class="text-white fst-italic">About us(Meet Team)</a>
      </span>
</div>
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white">EasyLaptopFinder.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

