
<div class="container mb-5 pt-4 ">
<div class="card">
  <h3 class="card-header text-center text-bold">Easy Laptop Finder</h3>
  <div class="card-body">
    <p class="card-text font-monospace">ELF is the reCommerce company that sells pre-owned consumer electronics. We provide our customers with simple selling options by purchasing their used laptops. We then inspect, certify and sell them to consumers looking for a cost-effective way to stay connected. ELF is simple, convenient and it works for everyone..</p>
  </div>
</div>
</div>
<div class="container mb-5 pt-4 py-4">
  <div class="text-center mb-3"> <h4 class="text-danger">Our Portfolio</h4>
      <h3 class="pt-4">Creative Members</h3>
  </div>
  <div class="row g-2 text-center">
      <div class="col-md-4">
          <div class="card pb-4"> <img src="/images/professional1.png" class="img-fluid rounded">
              <div class="d-flex justify-content-center align-items-center">
                          <div class="d-flex flex-column mr-4 pt-4">
                            <span class="name">ValEmpire</span>
                             <small class="designation">Full Stack Developer</small>
                             <a class="btn btn-outline-dark btn-floating m-1 mt-2" href="https://github.com/ValEmpire" role="button">
                            <i class="fab fa-github"></i>
                          </a>
                             </div>
              </div>
          </div>
          </div>
      <div class="col-md-4">
          <div class="card pb-4"> <img src="/images/professional2.png" class="img-fluid rounded"><hr />
              <div class="d-flex justify-content-center align-items-center">
                          <div class="d-flex flex-column mr-4 pt-2">
                            <span class="name">Neha Yadav</span>
                            <small class="designation">Full Stack Developer</small>
                            <a class="btn btn-outline-dark btn-floating m-1 mt-2" href="https://github.com/NehaYadav903" role="button">
                              <i class="fab fa-github"></i>
                            </a>
                           </div>
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card pb-4">
             <img src="/images/professional1.png" class="img-fluid rounded">
              <div class="d-flex justify-content-center align-items-center">
                      <div class="user-profile d-flex flex-row">
                          <div class="d-flex flex-column mr-4 pt-4">
                            <span class="name">Valera-Neg</span>
                             <small class="designation">Full Stack Developer</small>
                             <a class="btn btn-outline-dark btn-floating m-1 mt-2" href="https://github.com/Valera-Neg" role="button">
                              <i class="fab fa-github"></i>
                            </a>
                             </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
