<div class="text-center">
  <h1>Admin!</h1></div>
  <hr />
  <div class="container-fluid h-100 text-dark p-4">
    <div class="row justify-content-center align-items-center">
      <div class="container p-4">
        <div class="row">
          <div class="text-left">
            <h5>Asus Zenbook Pro UX550VE 15.6” NVIDIA GeForce 1050 Ti (New!)</h5>
  <h8 style="color:green;text-align:center;">
    $860
  </h8>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row d-flex justify-content-center mt-5">
          <div class="col-md-6">
              <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" align="center">
                  <div class="carousel-inner">
                      <div class="carousel-item active"> <img src="/images/lap3.png" class="rounded"> </div>
                      <div class="carousel-item"> <img src="/images/lap2.png" class="rounded"> </div>
                      <div class="carousel-item"> <img src="/images/lap1.png" class="rounded"> </div>
                  </div>
                  <ol class="carousel-indicators list-inline">
                      <li class="list-inline-item active"> <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#myCarousel"> <img src="/images/lap2.png" class="img-fluid rounded"> </a> </li>
                      <li class="list-inline-item"> <a id="carousel-selector-1" data-slide-to="1" data-target="#myCarousel"> <img src="/images/lap4.png" class="img-fluid rounded"> </a> </li>
                      <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="2" data-target="#myCarousel"> <img src="/images/lap1.png" class="img-fluid rounded"> </a> </li>
                  </ol>
              </div>
          </div>
      </div>
  </div>
  <div class="row m-md-5 m-3 g-2 gx-5">
    <div class="col-lg-6 bg-blue py-5 ">
    <hr style="height:2px; width:100%; border-width:0; color:black; background-color:black;"> <div>
       <span class="laptop text-muted float-start py-2 ms-2"><i class="fas fa-laptop"></i>Brand: ASUS</span>
      <span class="condition text-muted float-end py-2 me-2"><i class="fas fa-adjust"></i>Condition: Used - Like new</span><br>
      </div>
    <div class="d-flex justify-content-between align-items-end mt-3 px-2 pt-2"> <h4>Description </h4>
       <span class="heart"><i class="fa fa-heart text-danger"></i></span> </div>
       <div class="mt-2 px-2">
         <small>
          <p>New. Small scratch on back and side. Runs fast and smoothly. In Very Good condition. No damage to internal or external hardware, not broken. Runs smoothly. Comes with charger and soft case. Specs below:</p>
           <p>UX550VE Signature Edition</p>
            <p>Screen size: 15.6” FHD display</p>
             <p>Processor: Intel(R) Core(TM) i7-7700HQ CPU 2.80GHz 2.81 GHz</p>
              <p>GPU: NVIDIA GeForce GTX 1050 Ti</p>
               <p>Installed RAM: 16.0 GB (15.9 GB usable)</p> <p>SSD: 512 GB SSD</p>
               <p>System type: 64-bit operating system, x64-based processor</p>
               <p>Pen and touch: Pen and touch support with 10 touch points</p>
               <p>Front facing webcam</p>
               <p>Windows: Windows 10 Home</p>
               <p>3 years old </p>
              </small>
         </div>
          <div class="px-2">
            <h5>$500</h5>
           </div>
           <div class="px-2 mt-3 pt-2 py-4">
            <button class="btn btn-outline-primary px-4">Edit</button>
            <button class="btn btn-outline-primary px-3">Delete</button>
          </div>


</div>
  <div class="col-lg-4 bg-blue py-5">
    <div class="card mb-3 py-4 ms-2" >
      <div class="row">
      <h4 class="text-center mb-4">Contact Seller</h4>
</div>
            <div class=" mb-3 ms-2 me-2">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Your Message&#10; Hi, I'm Interested!Please contact me if&#10; this is still available. "></textarea>
            </div>
            <div class="form-check ms-2 me-2 pt-2">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Send me a copy of email
              </label>
              <div class="d-grid gap-2  mx-auto me-2 pt-4">
                <button class="btn btn-primary" type="button">Send Message</button>
              </div>
            </div>
      </div>
    </div>
    </div>


