<h1>This is the create Ad page where sellers are!</h1>

<div class="col-md-4">
  <label for="exampleFormControlInput1" class="form-label">Brand</label>
  <input 
  id="titleFormField" 
  type="title" 
  class="form-control" 
  placeholder="Specify brand of your laptop"
  />
</div>
<br>

<div class="col-md-4">
  <label for="exampleFormControlInput1" class="form-label">Screen size</label>
  <input 
  id="titleFormField" 
  type="title" 
  class="form-control" 
  placeholder="Specify the screen size in inches"
  />
</div>

<div class="col-md-4">
  <label for="exampleFormControlInput1" class="form-label">Title</label>
  <input 
  id="titleFormField" 
  type="title" 
  class="form-control" 
  placeholder="title"
  />
</div>
<div class="col-md-4">
  <label for="exampleFormControlTextarea1" class="form-label">Description</label>
  <textarea 
  id="descriptionFormField" 
  class="form-control"  
  rows="3">
</textarea>
</div>

</div>

<div class="mb-3 form-check">
  <input type="checkbox" class="form-check-input" id="exampleCheck1">
  <label class="form-check-label" for="exampleCheck1">Check me out</label>
</div>
<button id="create-new-ad-form-submit" type="submit" class="btn btn-primary">Submit</button>
<button type="cancel" class="btn btn-link">Cancel</button>

<script>
  $("#create-new-ad-form-submit").click(function() {
    const title = $("#titleFormField").val();
    const description = $("#descriptionFormField").val();
   
   
    $.post(
      "/api/auth/createAd",
      {
        title,
        description,
               status,
      },
      function(data) {
        window.location.replace("/feed");
      }
    );
  });
</script>
