<div class="container-fluid h-100 text-dark p-4 mb-4">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="/images/lenovo.png" class="card-img" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">ELF’s better when you’re a member</h5>
          <p class="card-text">
            See more relevant listings, find what you’re looking for quicker,
            and more!
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <h1 class="text-center text-capitalize"><%=user.name%>'s Dashboard</h1>
  <div class="row ads-container"></div>
</div>

<script>
  const renderAds = () => {
    $.get("/api/dashboard", function (data) {
      let ads = "";

      const generateAd = (url, brand_name, id) => {
        return `
        <div class="col-sm-6 col-md-3">
          <div class="shop__thumb">
            <a href="/dashboard/${id}">
              <div class="shop-thumb__img">
                <img
                  style='max-height:280px'
                  src="${url ?? "/images/no-image.jpg"}"
                  class="img-responsive"
                  alt="laptop"
                /></div
            ></a>
            <h5 class="shop-thumb__title">${brand_name}</h5>
            <div class="table-responsive">
              <table class="mx-auto w-auto">
                <tbody>
                  <th scope="row" class="text-center">
                    <tr class="text-center">
                      <td class="text-center">
                        <a
                          class="btn deleteBtn btn-outline-danger remove_cart"
                          rel="2"
                        ><input type='hidden' value="${id}"/>
                          <i class="fa fa-trash-o"></i>
                        </a>
                        <a href="/dashboard/${id}" class="btn btn-outline-success edit" rel="2">
                          <i class="fas fa-edit"></i>
                        </a>
                      </td>
                    </tr>
                  </th>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      `;
      };

      if (data.response.length > 0) {
        for (const ad of data.response) {
          const { url, brand_name, id } = ad;

          ads += generateAd(url, brand_name, id);
        }
      } else {
        ads += `<div class='col-xs-12'>No results.</div>`;
      }

      $(".ads-container").empty().append(ads);

      $(".deleteBtn").on("click", function () {
        const isConfirmed = confirm("Are you sure you want to delete?");

        if (!isConfirmed) return;

        const input = $(this).find("input");

        const adId = $(input).val();

        $.ajax({
          url: `/api/dashboard/${adId}`,
          type: "DELETE",
          success: function (data) {
            renderAds();
          },
        });
      });
    });
  };

  renderAds();
</script>
