<div class="text-dark p-4">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="/images/lenovo.png" class="card-img" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">ELF’s better when you’re a member</h5>
          <p class="card-text">
            See more relevant listings, find what you’re looking for quicker,
            and more!
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <h1 class="text-center text-capitalize"><%=user.name%>'s Favorite</h1>
  <div class="row ads-container"></div>
<div class="container mt-5 mb-5">
  <div class="row g-2">
      <div class="col-md-4 d-flex justify-content-center">
          <div class="card p-2">
              <div class="text-center"> <img src="/images/lap1.png" class="img-fluid" width="200" /> </div>
              <div class="content">
                  <div class="d-flex justify-content-between align-items-center"> <span class="category">Laptop</span> <span class="price">$599</span> </div>
                  <p>Asus</p>
                  <div class="buttons d-flex justify-content-center"> <button class="btn btn-outline-danger mr-1"><i class="fas fa-heart"></i></button> <button class="btn btn-primary">Add to cart</button> </div>
              </div>
          </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
          <div class="card p-2">
              <div class="text-center"> <img src="/images/lap1.png" class="img-fluid" width="200" /> </div>
              <div class="content">
                  <div class="d-flex justify-content-between align-items-center"> <span class="category">Laptop</span> <span class="price">$799</span> </div>
                  <p>Dell</p>
                  <div class="buttons d-flex justify-content-center"> <button class="btn btn-outline-danger mr-1"><i class="fas fa-heart"></i></button> <button class="btn btn-primary">Add to cart</button> </div>
              </div>
          </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
          <div class="card p-2">
              <div class="text-center"> <img src="/images/lap1.png" class="img-fluid" width="200" /> </div>
              <div class="content">
                  <div class="d-flex justify-content-between align-items-center"> <span class="category">Laptop</span> <span class="price">$999</span> </div>
                  <p>Apple</p>
                  <div class="buttons d-flex justify-content-center"> <button class="btn btn-outline-danger mr-1"><i class="fas fa-heart"></i></button> <button class="btn btn-primary">Add to cart</button> </div>
              </div>
          </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card p-2">
            <div class="text-center"> <img src="/images/lap1.png" class="img-fluid" width="200" /> </div>
            <div class="content">
                <div class="d-flex justify-content-between align-items-center"> <span class="category">Laptop</span> <span class="price">$1999</span> </div>
                <p>Samsung</p>
                <div class="buttons d-flex justify-content-center"> <button class="btn btn-outline-danger mr-1"><i class="fas fa-heart"></i></button> <button class="btn btn-primary">Add to cart</button> </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <div class="card p-2">
          <div class="text-center"> <img src="/images/lap1.png" class="img-fluid" width="200" /> </div>
          <div class="content">
              <div class="d-flex justify-content-between align-items-center"> <span class="category">Laptop</span> <span class="price">$1100</span> </div>
              <p>Microsoft</p>
              <div class="buttons d-flex justify-content-center"> <button class="btn btn-outline-danger mr-1"><i class="fas fa-heart"></i></button> <button class="btn btn-primary">Add to cart</button> </div>
          </div>
      </div>
  </div>
  <div class="col-md-4 d-flex justify-content-center">
    <div class="card p-2">
        <div class="text-center"> <img src="/images/lap1.png" class="img-fluid" width="200" /> </div>
        <div class="content">
            <div class="d-flex justify-content-between align-items-center"> <span class="category">Laptop</span> <span class="price">$1280</span> </div>
            <p>Sony</p>
            <div class="buttons d-flex justify-content-center"> <button class="btn btn-outline-danger mr-1"><i class="fas fa-heart"></i></button> <button class="btn btn-primary">Add to cart</button> </div>
        </div>
    </div>
</div>
<div class="col-md-4 d-flex justify-content-center">
  <div class="card p-2">
      <div class="text-center"> <img src="/images/lap1.png" class="img-fluid" width="200" /> </div>
      <div class="content">
          <div class="d-flex justify-content-between align-items-center"> <span class="category">Laptop</span> <span class="price">$450</span> </div>
          <p>Toshiba</p>
          <div class="buttons d-flex justify-content-center"> <button class="btn btn-outline-danger mr-1"><i class="fas fa-heart"></i></button> <button class="btn btn-primary">Add to cart</button> </div>
      </div>
  </div>
</div>
<div class="col-md-4 d-flex justify-content-center">
  <div class="card p-2">
      <div class="text-center"> <img src="/images/lap1.png" class="img-fluid" width="200" /> </div>
      <div class="content">
          <div class="d-flex justify-content-between align-items-center"> <span class="category">Laptop</span> <span class="price">$1400</span> </div>
          <p>Google</p>
          <div class="buttons d-flex justify-content-center"> <button class="btn btn-outline-danger mr-1"><i class="fas fa-heart"></i></button> <button class="btn btn-primary">Add to cart</button> </div>
      </div>
  </div>
</div>
<div class="col-md-4 d-flex justify-content-center">
  <div class="card p-2">
      <div class="text-center"> <img src="/images/lap1.png" class="img-fluid" width="200" /> </div>
      <div class="content">
          <div class="d-flex justify-content-between align-items-center"> <span class="category">Laptop</span> <span class="price">$350</span> </div>
          <p>Acer</p>
          <div class="buttons d-flex justify-content-center"> <button class="btn btn-outline-danger mr-1"><i class="fas fa-heart"></i></button> <button class="btn btn-primary">Add to cart</button> </div>
      </div>
  </div>
</div>
<div class="col-md-4 d-flex justify-content-center">
  <div class="card p-2">
      <div class="text-center"> <img src="/images/lap1.png" class="img-fluid" width="200" /> </div>
      <div class="content">
          <div class="d-flex justify-content-between align-items-center"> <span class="category">Laptop</span> <span class="price">$899</span> </div>
          <p>Apple</p>
          <div class="buttons d-flex justify-content-center"> <button class="btn btn-outline-danger mr-1"><i class="fas fa-heart"></i></button> <button class="btn btn-primary">Add to cart</button> </div>
      </div>
  </div>
</div>
<div class="col-md-4 d-flex justify-content-center">
  <div class="card p-2">
      <div class="text-center"> <img src="/images/lap1.png" class="img-fluid" width="200" /> </div>
      <div class="content">
          <div class="d-flex justify-content-between align-items-center"> <span class="category">Laptop</span> <span class="price">$1500</span> </div>
          <p>Fujitsu</p>
          <div class="buttons d-flex justify-content-center"> <button class="btn btn-outline-danger mr-1"><i class="fas fa-heart"></i></button> <button class="btn btn-primary">Add to cart</button> </div>
      </div>
  </div>
</div>
<div class="col-md-4 d-flex justify-content-center">
  <div class="card p-2">
      <div class="text-center"> <img src="/images/lap1.png" class="img-fluid" width="200" /> </div>
      <div class="content">
          <div class="d-flex justify-content-between align-items-center"> <span class="category">Laptop</span> <span class="price">$750</span> </div>
          <p>Razer</p>
          <div class="buttons d-flex justify-content-center"> <button class="btn btn-outline-danger mr-1"><i class="fas fa-heart"></i></button> <button class="btn btn-primary">Add to cart</button> </div>
      </div>
  </div>
</div>

  </div>
</div>

<script>
const renderAds = () => {
 $.get("/api/favorite", function (data) {
   let ads = "";

   const generateFavirite = (url, brand_name, id, price) => {
     return `
    <div class="col-md-4 d-flex justify-content-center">
    <div class="card p-2">
    <div class="text-center"><img src="${url ??"/images/no-image.png"}"" class="img-fluid" width="200" /> </div>
    <div class="d-flex justify-content-between align-items-center"> <span class="category">Laptop</span> <span class="price">${price}</span> </div>
    <p>${brand_name}</p>
          <div class="buttons d-flex justify-content-center"> <button class="btn btn-outline-danger mr-1"><i class="fas fa-heart"></i></button> <button class="btn btn-primary">Add to cart</button> </div>
      </div>
  </div>
</div>
     `;
   };
if (data.responce.length > 0 ) {
  for (const ad of data.response) {
    const { url, brand_name, id, price } = ad;

    ads += generateFavorite(url, brand_name, id, price);
  }
}
 
$(".row g-2").empty().append(ads);

$("btn btn-outline-danger").on("click", function () {

  const input = $(this).fined("input");

  const adId = $(input).val();

  $.ajax({
    url:`/api/favorite/${adId}`,
    type: "DELETE",
    renderAds();
  })
})


 })
}
renderAds();
</script>
