<div class="card-header bg-warning">
  </div>
  <div class="row d-flex justify-content-center">
  <div class="col-md-5 col-12 mb-4">
  <div class="card img-fluid">
    <img src="/images/homeImage4.png" class="card-img rounded mx-auto d-block img-responsive alt="Laptop">
      <div class="card-img-overlay">
        <hr style="height:2px; width:100%; border-width:0; color:red; background-color:red">
        <h5 class="card-title text-center card-text">GIVING NEW LIFE TO USED LAPTOPS </h5>
        <hr style="height:2px; width:100%; border-width:0; color:red; background-color:red">

    <script>
      $.get("navigation.html", function(data){
          $("#nav-placeholder").replaceWith(data);
      });
      </script>


</div>
</div>
</div>
</div>
  </div>
  </div>

