<div class="container-fluid h-100 text-dark p-4">
  <div class="text-center">
    <h1>Add images</h1>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-5 col-sm-12">
      <div class="row images-container"></div>
    </div>
  </div>
  <!-- UPLOAD IMAGES -->
  <div class="row justify-content-md-center">
    <div class="col-md-5 col-sm-12 mt-3 pt-4">
      <fieldset class="form-group">
        <a href="javascript:void(0)" onclick="$('#pro-image').click()"
          >Add Images</a
        >
        <input
          type="file"
          id="pro-image"
          name="pro-image"
          style="display: none"
          class="form-control"
          multiple
          accept="image/png, image/gif, image/jpeg"
        />
        <input id="adId" type="hidden" />
      </fieldset>
      <div class="preview-images-zone"></div>
      <div class="mt-3 text-center">
        <button id="uploadImageBtn" class="btn btn-success" disabled>
          Upload
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  const pathname = window.location.pathname;

  const adId = pathname.substr(pathname.lastIndexOf("/") + 1);

  const renderImage = () => {
    $.get(`/api/ad/${adId}`, function (data) {
      if (data.response.length === 0) return alert("Ad not found");

      const ads = data.response;

      const ad = ads[0];

      const { adid } = ad;

      $("#adId").val(adid);

      const genImage = (url) => {
        return `
      <div class="col-md-3 col-sm-4 col-xs-12 image-container">
        <img class="img-fluid" src="${url ?? "/images/no-image.jpg"}" />
      </div>
    `;
      };

      let images = ``;

      for (const ad of ads) {
        const { url } = ad;
        console.log(url);
        images += genImage(url);
      }

      $(".images-container").empty().append(images);
    });
  };

  renderImage();
</script>
