<div class="container-fluid h-100 text-dark p-4">
  <div class="row justify-content-center align-items-center">
    <div class="container p-4">
      <div class="row">
        <div class="text-center">
          <h1>Signup to collect your favourite media</h1>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="container p-4">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <form>
          <div class="form-group">
            <label for="exampleInputName1" class="form-label">Name</label>
            <input
              id="nameFormField"
              type="name"
              class="form-control"
              aria-describedby="nameHelp"
            />
            <div id="nameHelp" class="form-text">
              The name should be atleast five characters.
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              id="emailFormField"
              type="email"
              class="form-control"
              aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              id="passwordFormField"
              type="password"
              class="form-control"
            />
            <div id="passwordHelp" class="form-text">
              The password should be atleast eight characters.
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword2" class="form-label"
              >Confirm Password</label
            >
            <input
              id="confirmPasswordFormField"
              type="password"
              class="form-control"
            />
            <div id="confirmPasswordHelp" class="form-text">
              Repeat password.
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPhone1" class="form-label">Phone</label>
            <input
              id="contactPhoneFormField"
              type="phone"
              class="form-control"
              aria-describedby="phoneHelp"
              placeholder="3437112477"
            />
            <div id="phoneHelp" class="form-text">
              We'll never share your phone with anyone else.
            </div>
          </div>
          <div class="container p-4">
            <div class="row">
              <div class="col">
                <div class="text-center">
                  <button
                    id="signupFormSubmit"
                    type="submit"
                    class="btn btn-success btn-sm float-left"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $("#signupFormSubmit").click(function (e) {
    e.preventDefault();

    const name = $("#nameFormField").val();
    const email = $("#emailFormField").val();
    const password = $("#passwordFormField").val();
    const confirmPassword = $("#confirmPasswordFormField").val();
    const contact_phone = $("#contactPhoneFormField").val();
    const userPhotoURL = $("#user-photo-url").val();

    $.post(
      "/api/auth/signup",
      {
        name,
        email,
        password,
        confirmPassword,
        contact_phone,
        // userPhotoURL,
      },
      function (data) {
        // redirect to the params
        window.location.replace("/createAd");
      }
    ).fail(function (response) {
      const error = response.responseJSON.response;

      showError(error);
    });
  });
</script>
