// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;

//   background: rgb(163, 208, 219);
//   background: linear-gradient(
//     227deg,
//     rgba(163, 208, 219, 1) 0%,
//     rgba(163, 176, 219, 1) 20%,
//     rgba(163, 173, 219, 1) 34%,
//     rgba(163, 219, 208, 1) 59%,
//     rgba(163, 208, 219, 1) 74%,
//     rgba(163, 208, 219, 1) 100%
//   );
//

main {
  min-height: 70vh;
}

.preview-images-zone {
  width: 100%;
  border: 1px solid #ddd;
  min-height: 180px;
  /* display: flex; */
  padding: 5px 5px 0px 5px;
  position: relative;
  overflow: auto;
}
.preview-images-zone > .preview-image:first-child {
  height: 185px;
  width: 185px;
  position: relative;
  margin-right: 5px;
}
.preview-images-zone > .preview-image {
  height: 185px;
  width: 185px;
  position: relative;
  margin-right: 5px;
  float: left;
  margin-bottom: 5px;
}
.preview-images-zone > .preview-image > .image-zone {
  width: 100%;
  height: 100%;
}
.preview-images-zone > .preview-image > .image-zone > img {
  width: 100%;
  height: 100%;
}
.preview-images-zone > .preview-image > .tools-edit-image {
  position: absolute;
  z-index: 100;
  color: #fff;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  display: none;
}
.preview-images-zone > .preview-image > .image-cancel {
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
  display: none;
  z-index: 100;
}
.preview-image:hover > .image-zone {
  cursor: move;
  opacity: 0.5;
}
.preview-image:hover > .tools-edit-image,
.preview-image:hover > .image-cancel {
  display: block;
}
.ui-sortable-helper {
  width: 90px !important;
  height: 90px !important;
}

//////////////////feed
/**
 * Shop
 */
/** Shop: Index **/
/* General */
/* Shop: Slideshow */
/* Carousel controls */
/* Features */
/* Blog post */
/* Newsletter */
/** Shop: Thumbnails **/
/** Shop: Item **/
/** Shop: Filter **/
/* Shop filter: Pricing */
/* Shop filter: Colors */
/** Shop: Sorting **/
/** Shop: Checkout **/
/** Shop: Order Confirmation */
/**
 * Forms
 */
/* Has error */
/* Checkboxes */
/* Radios */
/* Quantity */
body {
  margin-top: 20px;
}
.shop-index__section {
  position: relative;
  margin-bottom: 60px;
}
.shop-index__section.alt {
  background-color: #f5f5f5;
  padding-top: 60px;
  padding-bottom: 60px;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.05);
}
.shop-index__heading {
  margin-top: 0;
  margin-bottom: 60px;
  font-family: "Questrial", sans-serif;
  + {
    p {
      margin-top: -50px;
      margin-bottom: 60px;
      color: #777777;
    }
  }
}
.shop__slideshow {
  margin-top: -18px;
  margin-bottom: 60px;
  .carousel-inner {
    .item__container {
      display: table;
      width: 100%;
      height: 100%;
    }
    .item-container__inner {
      display: table-cell;
      vertical-align: middle;
    }
    .item {
      width: 100%;
      height: 600px;
    }
    .item_1 {
      background: url(../img/home_11.jpg) no-repeat center center / cover;
    }
    .item_2 {
      background: url(../img/home_12.jpg) no-repeat center center / cover;
    }
    .item_3 {
      background: url(../img/home_14.jpg) no-repeat center center / cover;
    }
  }
  &:hover {
    .shop-slideshow__control {
      opacity: 0.3;
    }
  }
}
.shop-slideshow__heading {
  margin: 0 0 20px 0;
  font-family: "Questrial", sans-serif;
  font-size: 46px;
  line-height: 1.2;
  color: white;
}
.shop-slideshow__subheading {
  margin-bottom: 30px;
  font-family: "Questrial", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: white;
}
.shop-slideshow__btn {
  border: 2px solid white;
  border-radius: 0;
  color: white;
  font-weight: 600;
  &:hover {
    color: #333333;
    background-color: white;
  }
  &:focus {
    color: #333333;
    background-color: white;
  }
}
.shop-slideshow__control {
  display: block;
  position: absolute;
  top: 50%;
  left: 10px;
  width: 30px;
  height: 70px;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  &:hover {
    opacity: 1 !important;
  }
}
.shop-slideshow__control[data-slide="next"] {
  left: auto;
  right: 10px;
}
.shop-index-features__item {
  margin-bottom: 40px;
  text-align: center;
}
.shop-index-features__icon {
  margin-bottom: 20px;
  width: 90px;
  height: 100px;
  background: url(../img/hexagon.svg) no-repeat center center / cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 100px;
  text-align: center;
  font-size: 24px;
}
.shop-index-features__heading {
  margin-bottom: 15px;
  + {
    p {
      color: #777777;
    }
  }
}
.shop-index-blog__posts {
  > [class*="col-"] {
    padding-top: 20px;
    padding-bottom: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    &:last-child {
      border-right: 0;
    }
  }
}
.shop-index-blog__post {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.shop-index-blog__img {
  position: relative;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
  width: 90px;
  height: 100px;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/hexagon_reversed.svg) no-repeat top left / 100% 100%;
  }
  > img {
    height: 100%;
    width: auto;
  }
}
.shop-index-blog__body {
  overflow: hidden;
}
.shop-index-blog__heading {
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1.5;
  &:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
.shop-index-blog__content {
  margin-bottom: 20px;
  color: #777777;
}
.shop-index__newsletter {
  padding-bottom: 20px;
  .shop-index__heading {
    margin-bottom: 20px;
    line-height: 42px;
    text-align: center;
  }
  input[type="email"] {
    height: 42px;
    padding: 11px 12px;
  }
  button[type="submit"] {
    padding: 11px 30px;
    width: 100%;
  }
}

a {
  text-decoration: none;
}

.shop__thumb {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  text-align: center;
  -webkit-transition: border-color 0.1s, -webkit-box-shadow 0.1s;
  -o-transition: border-color 0.1s, box-shadow 0.1s;
  transition: border-color 0.1s, box-shadow 0.1s;
  &:hover {
    border-color: rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.07);
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.07);
  }
  > a {
    color: #333333;
    &:hover {
      text-decoration: none;
    }
  }
}
.ad-feed-dp {
  max-height: 280px;
}
.ad-title {
  text-transform: capitalize;
}
.shop-thumb__img {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
.shop-thumb__title {
  font-weight: 600;
}
.shop-thumb__price {
  color: #777777;
}
.shop-thumb-price_old {
  text-decoration: line-through;
}
.shop-thumb-price_new {
  color: red;
}
.shop-item__info {
  padding: 30px;
  margin-bottom: 40px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.shop-item-cart__title {
  margin-bottom: 20px;
  line-height: 1.3;
}
.shop-item-cart__price {
  font-size: 28px;
  font-weight: 400;
  color: #f7c41f;
}
.shop-item__intro {
  color: #777777;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.shop-item__add {
  button[type="submit"] {
    padding: 15px 20px;
  }
}
.shop-item__img {
  margin-bottom: 40px;
}
.shop-item-img__main {
  width: -webkit-calc(100% - 110px);
  width: calc(100% - 110px);
  height: auto;
  float: left;
}
.shop-item-img__aside {
  width: 100px;
  height: auto;
  float: left;
  > img {
    cursor: pointer;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    opacity: 0.5;
    &:hover {
      border-color: rgba(0, 0, 0, 0.05);
      opacity: 1;
    }
  }
  > img.active {
    border-color: rgba(0, 0, 0, 0.05);
    opacity: 1;
  }
}
.shop__filter {
  margin-bottom: 40px;
}
.shop-filter__price {
  padding: 15px;
  [class*="col-"] {
    padding: 2px;
  }
}
.shop-filter__color {
  display: inline-block;
  margin: 0 2px 2px 0;
  input[type="text"] {
    display: none;
  }
  label {
    width: 30px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    cursor: pointer;
  }
}
.shop__sorting {
  list-style: none;
  padding-left: 0;
  margin-bottom: 40px;
  margin-top: -20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: right;
  > li {
    display: inline-block;
    > a {
      display: block;
      padding: 20px 10px;
      margin-bottom: -1px;
      border-bottom: 2px solid transparent;
      color: #757575;
      -webkit-transition: all 0.05s linear;
      -o-transition: all 0.05s linear;
      transition: all 0.05s linear;
      &:hover {
        color: #333333;
        text-decoration: none;
      }
      &:focus {
        color: #333333;
        text-decoration: none;
      }
    }
  }
  > li.active {
    > a {
      color: #ed3e49;
      border-bottom-color: #ed3e49;
    }
  }
}
.checkout__block {
  margin-bottom: 40px;
}
.checkout-cart__item {
  margin-bottom: 15px;
}
.checkout-cart-item__img {
  max-width: 80px;
  margin-right: 10px;
  float: left;
}
.checkout-cart-item__content {
  overflow: hidden;
}
.checkout-cart-item__heading {
  margin-top: 0;
}
.checkout-cart-item__footer {
  padding: 10px 0;
  margin-top: 10px;
  border-top: 1px solid #eee;
}
.checkout-cart-item__price {
  font-weight: 600;
}
.checkout-total__block {
  margin-bottom: 40px;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  > .row {
    > [class*="col-"] {
      padding: 40px 40px;
      border-right: 1px solid #e9e9e9;
      color: #aaa;
      &:last-child {
        border-right: 0;
        color: #333333;
      }
    }
  }
}
.checkout-total__heading {
  float: left;
}
.checkout-total__price {
  float: right;
  margin: 9px 0;
  font-size: 17px;
}
.checkout__submit {
  padding: 15px 40px;
}
.shop-conf__heading {
  margin-bottom: 40px;
  + {
    p {
      margin-bottom: 100px;
    }
  }
}
.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
  }
}
.has-error {
  .form-control {
    border-color: #d9534f;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    &:focus {
      border-color: #b52b27;
    }
  }
  .help-block {
    color: #d9534f;
  }
}
.checkbox {
  input[type="checkbox"] {
    display: none;
    &:checked {
      + {
        label {
          &::before {
            content: "\f00c";
          }
        }
      }
    }
  }
  label {
    padding-left: 0;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      background-color: #eee;
      text-align: center;
      font-family: "FontAwesome";
    }
  }
}
.radio {
  input[type="radio"] {
    display: none;
    &:checked {
      + {
        label {
          &:before {
            border-width: 7px;
          }
        }
      }
    }
  }
  label {
    padding-left: 0;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 10px solid #eee;
      background-color: #333333;
    }
  }
}
.input_qty {
  margin-bottom: 10px;
  input[type="text"] {
    display: none;
  }
  label {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 40px;
    text-align: center;
    > span {
      &:not(.output) {
        width: 40px;
        height: 40px;
        float: left;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:last-child {
          float: right;
          border-right: 0;
          border-left: 1px solid rgba(0, 0, 0, 0.1);
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.02);
        }
      }
    }
    > output {
      display: inline-block;
      line-height: inherit;
      padding: 0;
    }
  }
}
.input_qty_sm {
  label {
    width: 80px;
    height: 20px;
    border: 0;
    line-height: 20px;
    color: #ccc;
    > span {
      &:not(.output) {
        width: 20px;
        height: 20px;
        border: 0 !important;
        &:hover {
          background-color: transparent;
          color: #333333;
        }
      }
    }
    output {
      color: #ccc;
      font-weight: 600;
    }
  }
}
@media (max-width: 767px) {
  .shop__slideshow {
    .carousel-inner {
      .item {
        height: 400px;
        padding: 0 30px;
        text-align: center;
      }
    }
  }
  .shop-slideshow__heading {
    font-size: 32px;
  }
  .shop-slideshow__subheading {
    font-size: 16px;
  }
  .shop-index-blog__posts {
    > [class*="col-"] {
      padding-top: 0;
      padding-bottom: 60px;
      border-right: 0;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
  .shop-index-blog__post {
    width: 100%;
  }
  .shop-item-img__main {
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
  }
  .shop-item-img__aside {
    width: 50px;
  }
  .shop__sorting {
    text-align: left;
    border-bottom: 0;
    > li {
      display: block;
      > a {
        padding: 10px 15px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
    > li.active {
      > a {
        font-weight: 600;
      }
    }
  }
  .checkout-total__block {
    border: 0;
    > .row {
      > [class*="col-"] {
        padding: 15px 20px;
        border: 0;
        border-top: 1px solid #e9e9e9;
        &:last-child {
          border-bottom: 1px solid #e9e9e9;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .shop-index-blog__img {
    float: none;
    margin-right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .shop-index-blog__heading {
    text-align: center;
    &:after {
      left: 50%;
      margin-left: -15px;
    }
  }
}
@media (min-width: 768px) {
  .shop-index__newsletter {
    .shop-index__heading {
      margin-bottom: 0px;
      text-align: right;
    }
    input[type="email"] {
      border-radius: 21px 0 0 21px;
    }
    button[type="submit"] {
      margin-left: -3px;
      border-radius: 0 21px 21px 0;
      width: auto;
    }
  }
}
